/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./src/fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("./src/fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("./src/fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("./src/fonts/roboto-v29-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1 {
  color: red;
  margin: 1vw 0 0 0;
}

body {
  font-family: Roboto;
  font-size: 3vw;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.textarea {
  font-size: 2vw;
  width: 99%;
  margin-top: 1vw;
}

.key-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97.5%;
  row-gap: 1vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1vw;
  border: 1px black solid;
  padding: 1vw;
  border-radius: 10px;
  background-color: beige;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes button-on {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes button-on {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes button-off {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes button-off {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.key[data-keycode=MetaLeft] {
  background: no-repeat center url("./src/images/windows.svg") burlywood;
  background-size: 25%;
}

.key[data-keycode=ArrowUp],
.key[data-keycode=ArrowDown] {
  background: no-repeat center url("./src/images/up-arrow.svg") burlywood;
}

.key[data-keycode=ArrowLeft],
.key[data-keycode=ArrowRight] {
  background: no-repeat center url("./src/images/left-arrow.svg");
  background-color: burlywood;
}

.key[data-keycode^=Arrow] {
  background-size: 25%;
  color: transparent;
}

.key {
  width: 5.8%;
  height: 4.8vw;
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vw;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  -webkit-animation: button-off 300ms ease-in;
          animation: button-off 300ms ease-in;
}

.key:hover {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.key.active {
  -webkit-animation: button-on 300ms ease-in;
          animation: button-on 300ms ease-in;
  background-color: yellow;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.key[data-keycode=Backspace],
.key[data-keycode=CapsLock],
.key[data-keycode=Enter] {
  width: 10%;
  font-size: 1.5vw;
}

.key[data-keycode=Tab] {
  width: 8%;
  font-size: 1.5vw;
}

.key[data-keycode=ShiftLeft] {
  width: 14%;
  font-size: 1.5vw;
}

.key[data-keycode=ArrowUp],
.key[data-keycode=ShiftRight],
.key[data-keycode=ControlLeft],
.key[data-keycode=ControlRight],
.key[data-keycode=ArrowLeft],
.key[data-keycode=ArrowDown],
.key[data-keycode=ArrowRight] {
  width: 8%;
  font-size: 1.5vw;
}

.key[data-keycode=Space] {
  width: 35%;
  font-size: 1.5vw;
}

.key[data-keycode^=Alt] {
  font-size: 1.5vw;
}

.key[data-keycode=ArrowRight],
.key[data-keycode=ArrowDown] {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.description {
  margin-top: 1vw;
}
/*# sourceMappingURL=style.css.map */